<main>
  <section class="work">
    <div class="navbar-sidemark"></div>
    <div class="main-content">
      <div class="work-grid">
        <h1 class="section-title">latest work</h1>
        <div class="cards">
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/djlmbrvcx/image/upload/v1608617884/pitcher_banner_ovdnkl.png)">
            <div class="grid-overlay">
              <h1 class="card-title">pitcher</h1>
              <%= link_to "Details", pages_home_path, {:class=>'btn btn-ghost-white'} %>
            </div>
          </div>

          <div class="card-category" style="background-image: url(https://res.cloudinary.com/djlmbrvcx/image/upload/v1608617884/hobbes_banner_gfetbq.png)">
            <div class="grid-overlay">
              <h1 class="card-title">hobbes</h1>
              <%= link_to "Details", pages_home_path, {:class=>'btn btn-ghost-white'} %>
            </div>
          </div>

          <div class="card-category" style="background-image: url(https://res.cloudinary.com/djlmbrvcx/image/upload/v1608609645/mulbtree_nyzei9.jpg)">
            <div class="grid-overlay">
              <h1 class="card-title">mulberry<br>tree</h1>
              <%= link_to "Details", pages_home_path, {:class=>'btn btn-ghost-white'} %>
            </div>
          </div>

          <div class="card-category" style="background-image: url(https://res.cloudinary.com/djlmbrvcx/image/upload/v1608609645/cat_lhfynl.jpg)">
            <div class="grid-overlay">
              <h1 class="card-title">credit admin<br>tool</h1>
              <%= link_to "Details", pages_home_path, {:class=>'btn btn-ghost-white'} %>
            </div>
          </div>

          <div class="card-category" style="background-image: url(https://res.cloudinary.com/djlmbrvcx/image/upload/v1608609645/uxjap_yugkea.jpg)">
            <div class="grid-overlay">
              <h1 class="card-title">ux jap</h1>
              <%= link_to "Details", pages_home_path, {:class=>'btn btn-ghost-white'} %>
            </div>
          </div>

          <div class="card-category" style="background: url(https://images.unsplash.com/photo-1536338546286-31cc3e7348b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80) no-repeat center center">
            <%= link_to "View more", pages_home_path, {:class=>'btn btn-ghost-white'} %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>