<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to pages_home_path, class: "navbar-brand" do %>
    <h1 class="logo">egg<span class="dot">•</span>man<sup>TM</sup></h1>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <h1><%= link_to "about", pages_about_path, class: "nav-link" %></h1>
      </li>

      <li class="nav-item">
        <h1><%= link_to "work", projects_path, class: "nav-link" %></h1>
      </li>

      <% if action_name == 'home' %>
        <li class="nav-item">
          <h1><%= link_to "contact", pages_contact_path, class: "nav-link white" %></h1>
        </li>
      <% elsif controller_name == 'projects' %>
        <li class="nav-item">
          <h1><%= link_to "contact", pages_contact_path, class: "nav-link white" %></h1>
        </li>
      <% else %>
        <li class="nav-item">
          <h1><%= link_to "contact", pages_contact_path, class: "nav-link" %></h1>
        </li>
      <% end %>
    </ul>
  </div>
</div>