<!-- Modal 2 -->
<div class="modal fade" id="workModal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mx-2">
        <h1 class="modal-title mt-4 mb-2 ml-3" id="exampleModalLongTitle"><%= @work_2.title.downcase %></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-4">

        <div class="work-content">
          <div class="content-left">
            <p><%= @work_2.description %></p>
          </div>

          <div class="content-right">
            <p class="work-label">Client</p>
            <p><%= @work_2.client %></p>

            <p class="work-label">Role</p>
            <p><%= @work_2.role %></p>

            <p class="work-label">Technologies</p>
            <% @work_2.technologies.each do |keyword| %>
              <span class="badge badge-pill badge-info"><%= keyword %></span>
            <% end %>
          </div>
        </div>

        <div class="work-extras">
          <a href="https://the-pitchers.herokuapp.com/" target="_blank" class="btn btn-flat" role="button">
            Visit <%= @work_2.title.downcase %> <i class="fas fa-arrow-right"></i>
          </a>
          <img src="https://res.cloudinary.com/djlmbrvcx/image/upload/v1608790265/pitcher_long_xdxpjh.png" alt="Pitcher screens" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>